html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #305f4d;
  height: 341px;
  overflow: hidden;
}

header {
  display: flow-root;
  height: 341px;
  /* position: relative; */
}

header img:last-of-type {
  position: absolute;
  z-index: -1;
  transform: translateX(50%);
  right: 50%;
}

header h1 {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 1.5em;
}

header ul {
  max-width: 150px;
  list-style-type: none;
  color: white;
  padding: 0;
  position: absolute;
  bottom: 36%;
}
header ul li {
  margin: 0.5em 0;
  text-align: left;
}

header ul li i {
  margin-right: 0.5em;
}

header img:first-of-type {
  width: 40%;
  border-radius: 50% 50% 0 0;
  position: absolute;
  bottom: 0;
}

header button {
  width: 2.3em;
  height: 2.3em;
  transition: 0.5s;
  border-radius: 50%;
  border-style: none;
  position: fixed;
  bottom: 0.1em;
  right: 0;
}

header button i {
  color: #1e4c3a;
  font-size: 16px;
}

main {
  position: relative;
  height: 341px;
  display: flow-root;
}

main img:first-of-type {
  position: absolute;
  z-index: -1;
}

main h2 {
  color: white;
  font-size: 15px;
  position: absolute;
}

.shine {
  font-size: 21px;
  font-family: "Gibson";
  font-style: italic;
  transform: rotate(356deg);
  margin: 0 auto;
  font-weight: bold;
}

.shine {
  background: #222 -webkit-gradient(
      linear,
      left top,
      right top,
      from(#222),
      to(#222),
      color-stop(0.5, #fff)
    ) 0 0 no-repeat;
  -webkit-background-size: 150px;
  color: rgba(255, 255, 255, 0.3);
  -webkit-background-clip: text;
  -webkit-animation-name: shine;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

@-webkit-keyframes shine {
  0%,
  10% {
    background-position: -1000px;
  }
  40% {
    background-position: top left;
  }
  60% {
    background-position: top right;
  }
  100% {
    background-position: 1000px;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.turnAround {
  transform: rotateX(180deg);
  transition: 0.5s;
}
